html {
    background-color: black;
}

body {    
    color: antiquewhite;
}

h1 {
    color: black;
}

.box {
    background-color: black;
}


#animation img {
    display: none;
}
#animation img:first-child {
    display: block;
}